## Pandas-basic
Pandas is one of the most popular Python libraries for Data Science and Analytics. I like to say it’s the “SQL of Python.” Why? Because pandas helps you to manage two-dimensional data tables in Python. Of course, it has many more features. (E.g. lot of the popular machine learning libraries in Python are built on the top of pandas.)
 
 => Tomi Mester

**Note:** *This is a hands-on tutorial, so I recommend doing the coding part with me!*

In [1]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/dcqPhpY7tWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

### Pandas installation
**Pandas** comes with **Anaconda distribution**, os once you installed Anaconda, you will get Pandas for free. the 2nd way of installing Pandas is **'pip'**=> "*pip install pandas*" command will install pandas for you and you'll get pandas module.

In [6]:
# To check whether Pandas is successfully installed or not(if it doesn't give the error, it means it's installed...):
import pandas as pd

#### Data Frame (df) basics in pandas:
Data frame is a main object in pandas. it is used to represent data with rows and columns (Tabular or excell spread sheet like data). Tabular is a collection of rows and columns & we use it in pandas to represent data in tabular form.

In [7]:
# read_csv() function read the csv files.
df = pd.read_csv('CSV Files/nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [26]:
# head() function display the top n rows.
df.head(4)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345

In [27]:
# tail() function display the bottom n rows.
df.tail(4)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [9]:
# We can create structured data using python dictionary:
all_electronic = {
    'name': ['Mobile', 'Laptop', 'Camera'],
    'price': ['140$', '580$', '180$'],
    'made in': ['US', 'UK', 'Chaina']
}
df1 = pd.DataFrame(all_electronic)
df1

     name price made in
0  Mobile  140$      US
1  Laptop  580$      UK
2  Camera  180$  Chaina

In [33]:
# To check the shape of dataframe, we use shape() function. It shows us the number of rows and columns.
df.shape

(31, 11)

In [34]:
df1.shape

(3, 3)

In [35]:
# We can assigns the rows and columns number to variables.
rows, columns = df.shape

In [36]:
# rows stored the number of row.
rows

31

In [37]:
# columns stored the number of columns.
columns

11

In [16]:
# To know which columns we have in our DataFrame:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [40]:
# We can display a specific rows from DataFrame.
df[3:10]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [44]:
# Didn't show you the first 20 rows.
df[20:]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [45]:
# Show you the first 3 rows:
df[:3]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277

In [54]:
# To display a specific columns:
df1[['price']]

  price
0  140$
1  580$
2  180$

In [8]:
df[['EST', 'Temperature', 'Humidity', 'Events']]

          EST  Temperature  Humidity    Events
0    1/1/2016           38        52       NaN
1    1/2/2016           36        46       NaN
2    1/3/2016           40        47       NaN
3    1/4/2016           25        44       NaN
4    1/5/2016           20        41       NaN
5    1/6/2016           33        35       NaN
6    1/7/2016           39        33       NaN
7    1/8/2016           39        64       NaN
8    1/9/2016           44        77      Rain
9   1/10/2016           50        71      Rain
10  1/11/2016           33        37       NaN
11  1/12/2016           35        53       NaN
12  1/13/2016           26        42       NaN
13  1/14/2016           30        47       NaN
14  1/15/2016           43        62       NaN
15  1/16/2016           47        70      Rain
16  1/17/2016           36        66  Fog-Snow
17  1/18/2016           25        53      Snow
18  1/19/2016           22        42       NaN
19  1/20/2016           32        49       NaN
20  1/21/2016           31        45       NaN
21  1/22/2016           26        41      Snow
22  1/23/2016           26        78  Fog-Snow
23  1/24/2016           28        53      Snow
24  1/25/2016           34        54       NaN
25  1/26/2016           43        56       NaN
26  1/27/2016           41        45      Rain
27  1/28/2016           37        51       NaN
28  1/29/2016           36        50       NaN
29  1/30/2016           34        46       NaN
30  1/31/2016           46        52       NaN

In [59]:
# To display a specific rows and columns:
df_sub = df[['EST', 'Humidity', 'DewPoint', 'Events', 'WindDirDegrees']]
df_sub.head(3)

        EST  Humidity  DewPoint Events  WindDirDegrees
0  1/1/2016        52        23    NaN             281
1  1/2/2016        46        18    NaN             275
2  1/3/2016        47        21    NaN             277

In [10]:
# To display a column type (Pandas.core.series.Series):
type(df1['name'])

pandas.core.series.Series

In [23]:
# To find maximum max():
df['Humidity'].max()

78

In [24]:
# To find minimum min():
df['Humidity'].min()

33

In [25]:
# To find mean():
df['Humidity'].mean()

51.67741935483871

In [26]:
# To find sum():
df['Humidity'].sum()

1602

In [27]:
# To find Standard deviation std():
df['Humidity'].std()

11.634394689237006

In [29]:
# Describe() method will print the statistics on your dataset:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [33]:
# Now! how can we select data from dataset conditionally?
df[df.Temperature >= 35]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [38]:
# Show us the records which has greater Humidity than 60:
df[df.Humidity >= 60]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42

In [42]:
# To display the only record which has maximum temeperature:
# df[df.Temperature == df.Temperature.max()]
# Or
df[df.Temperature == df['Temperature'].max()]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [44]:
# To display the only day on which the Temperature was minimum:
# df['EST'][df.Temperature == df.Temperature.min()]
# Or
df['EST'][df.Temperature == df['Temperature'].min()]

4    1/5/2016
Name: EST, dtype: object

In [47]:
# To display the only day with minimum Temperature:
df[['EST', 'Temperature']][df.Temperature == df.Temperature.min()]

        EST  Temperature
4  1/5/2016           20

In [51]:
# So, we see the DataFrame (df) has default index which is integer. 
df.index

RangeIndex(start=0, stop=31, step=1)

In [56]:
# We can change the default index to Date (EST) column: (The benefits of using of changing the default index is that, that we can run loc() function on new index, which give us all the information on that row.)
# inplace=Ture command is necessary,in other case it won't be change.
# We can choose any column as index.
df.set_index('EST', inplace=True)
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [53]:
# Now if we run loc() method:
df.loc['1/5/2016']

Temperature                20
DewPoint                   -3
Humidity                   41
Sea Level PressureIn    30.57
VisibilityMiles            10
WindSpeedMPH              5.0
PrecipitationIn             0
CloudCover                  0
Events                    NaN
WindDirDegrees            333
Name: 1/5/2016, dtype: object

In [54]:
df.loc['1/10/2016']

Temperature                50
DewPoint                   46
Humidity                   71
Sea Level PressureIn    29.59
VisibilityMiles             4
WindSpeedMPH              NaN
PrecipitationIn           1.8
CloudCover                  7
Events                   Rain
WindDirDegrees            109
Name: 1/10/2016, dtype: object

In [55]:
# To reset back to default (integer) index:
df.reset_index(inplace=True)
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

Thats Were all for the **first session**.