## Merge in Pandas
Merge is another way through which we can join Two DataFrames.

In [27]:
import pandas as pd

In [28]:
# First DataFrame:
temperature = pd.DataFrame({
    "City": ['Newyork', 'Chicago', 'Orlando'],
    "Temperature": [34, 35, 38],
})
temperature

      City  Temperature
0  Newyork           34
1  Chicago           35
2  Orlando           38

In [29]:
# Second DataFrame:
humidity = pd.DataFrame({
    "City": ['Newyork', 'Orlando', 'Chicago'],
    "Humidity": [65, 70, 60]
})
humidity

      City  Humidity
0  Newyork        65
1  Orlando        70
2  Chicago        60

In [31]:
# Joining DataFrames using merge() function...
df = pd.merge(temperature, humidity, on="City")
df

      City  Temperature  Humidity
0  Newyork           34        65
1  Chicago           35        60
2  Orlando           38        70

In [36]:
# Now if we add Baltimore city and its weather to weathre DataFrame:
temperature = pd.DataFrame({
    "City": ['Newyork', 'Chicago', 'Orlando', 'Baltimore'],
    "Temperature": [34, 35, 38, 32],
})
temperature

        City  Temperature
0    Newyork           34
1    Chicago           35
2    Orlando           38
3  Baltimore           32

In [37]:
# & we also add San Francisco and its humidity instead of Chicago:
humidity = pd.DataFrame({
    "City": ['Newyork', 'Orlando', 'San Francisco'],
    "Humidity": [65, 70, 68]
})
humidity

            City  Humidity
0        Newyork        65
1        Orlando        70
2  San Francisco        68

In [38]:
# As result now if we join them, then it will only join the cities which are include in both DataFrames, the reason is they do intersection:
df = pd.merge(temperature, humidity, on="City")
df

      City  Temperature  Humidity
0  Newyork           34        65
1  Orlando           38        70

In [39]:
# So to include the other cities & implement outer join concept, we use "how = 'outer'" property:
df = pd.merge(temperature, humidity, on="City", how = 'outer')
df

            City  Temperature  Humidity
0        Newyork         34.0      65.0
1        Chicago         35.0       NaN
2        Orlando         38.0      70.0
3      Baltimore         32.0       NaN
4  San Francisco          NaN      68.0

In [41]:
# We can also use 'inner, left, right' properties:
df = pd.merge(temperature, humidity, on="City", how = 'left')
df

        City  Temperature  Humidity
0    Newyork           34      65.0
1    Chicago           35       NaN
2    Orlando           38      70.0
3  Baltimore           32       NaN

In [43]:
df = pd.merge(temperature, humidity, on="City", how = 'right')
df

            City  Temperature  Humidity
0        Newyork         34.0        65
1        Orlando         38.0        70
2  San Francisco          NaN        68

In [44]:
# We can use indicator property to show the _merge of DataFrames:
df = pd.merge(temperature, humidity, on="City", how = 'outer', indicator = True)
df

            City  Temperature  Humidity      _merge
0        Newyork         34.0      65.0        both
1        Chicago         35.0       NaN   left_only
2        Orlando         38.0      70.0        both
3      Baltimore         32.0       NaN   left_only
4  San Francisco          NaN      68.0  right_only

Thats were all about **Pandas merge()** method ...